# Root ignore
# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Env and secrets
env
*.env
**/.env
**/*.skey
**/*.addr
**/*.cborHex.txt
**/keys/

# Logs
**/*.log
logs/
